@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- NOUVEAU : Animation de surbrillance CS2 ------------------- */
/* Utilise une pulsation (pulse) pour simuler l'effet d'attente à la fin du chronomètre */

@keyframes pulse-cs {
  0%, 100% {
    /* Utilise l'Orange-Jaune (FFA500) du Terroriste pour un effet d'alerte */
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.4); 
  }
  50% {
    /* Le cercle s'agrandit pour simuler la pulsation */
    box-shadow: 0 0 0 10px rgba(255, 165, 0, 0); 
  }
}

.animate-pulse-cs {
  animation: pulse-cs 1.5s infinite;
}